body{
    margin: 0;
    padding: 0;
    background: url(tree.jpeg) no-repeat;
    font-family: sans-serif;
    background-size: cover;
    background-position: center center;
}
.container{
    width: 500px;
    height: 800px;
    text-align: center;
    max-width: 1100px;
    margin:0 auto;
    overflow: auto;
    padding: 0 40px;
}

.center{
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight:lighter;
    font-size: 300;
    font-style: italic;
}

.my-form{
    width: 350px;
    height:300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    box-shadow: 5px 5px 30px grey;
    padding: 20px 0px;
    border-radius: 10px;

}

.form-control {
    width: 100%; 
    margin-bottom: 10px;
    padding: 10px 5px;
    margin: auto
}

.form-control input{
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 200px; 
    outline: none;
    margin: auto;

}

.form-control i{
    position: absolute;
}

.icon { 
	padding: 10px 20px; 
	color: greenyellow;
} 

.fas.fa-arrow-right{
    border: 2px white solid;
    padding: 7px;
    border-radius: 4px;
    text-align: center;

}
.button{
    width: 50%;
    border-radius: 10px;
    padding: 5px 10px;
}
    
footer{
    text-align: center;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 1em;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    }
