body{
    margin: 0;
    padding: 0;
    background: url(tree.jpeg) no-repeat;
    font-family: sans-serif;
    background-size: cover;
    background-position: center center;
}
.container{
    width: 500px;
    height: 800px;
    text-align: center;
    max-width: 1100px;
    margin:0 auto;
    overflow: auto;
    padding: 0 40px;

}

.center{
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight:lighter;
    font-size: 300;
    font-style: italic;
}

.my-form{
    width: 300px;
    height:350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5));
    box-shadow: 5px 5px 50px black;
    padding: 20px;

}

.form-control {
    padding: 10px 20px;
    margin: 5px;

}

.form-control input{
    padding: 5px 10px;
    outline: none;
    border: none;
    width: 70%;
}

.button{
    width: 50%;
    border-radius: 10px;
    padding: 5px 10px;

}
    
footer{
    text-align: center;
    padding-bottom: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
